/* !!! Hero Section Design */
.hero-section{
    display: flex;
    min-height: calc(100vh - 60px);
    background: linear-gradient(to bottom right,transparent 70%, var(--card-background-color)),
                linear-gradient(to bottom left, transparent 70%, var(--card-background-color));
}

.hero-section-container{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.hero-heading-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-heading-container h1{
    position: relative;
    font-size: var(--main-heading-font-size);
    font-weight: 900;
    text-align: center;
    animation: hero-heading 0.5s ease;
}

/* Bouncing Dot */
.hero-heading-container h1::after{
    position: absolute;
    content: "";
    width: var(--dot-size);
    height: var(--dot-size);
    background-color: var(--main-color);
    left: 35.5%;
    top: 3%;
    border-radius: 50%;
    animation: bounce 1.8s infinite cubic-bezier(0.28, 0.84, 0.42, 1);
}

.heading-span{
    color: var(--text-color);
    transition: color 0.1s ease;
}

.heading-span:hover{
    color: var(--main-color);
}

/* Hero Content Design */
.hero-content-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.hero-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.hero-content .left-content{
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    animation: entrance-hero-left 0.5s ease;
}

.left-content p{
    color: var(--text-color);
    font-size: var(--content-font-size);
    font-weight: 400;
}

.hero-sub-heading-container{
    width: 100%;
    display: flex;
}

.hero-sub-heading-container h2{
    font-size: var(--sub-heading-font-size);
    color: var(--sub-heading-color);
    font-weight: 600;
}

.hero-content .left-content p{
    width: 100%;
    margin-bottom: 40px;
}

.writing-effect-blink{
    width: 3px;
    height: 90%;
    background-color: var(--main-color);
    margin-left: 3px;
    animation: blink .5s infinite;
}

.hero-content .right-content{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    animation: entrance-hero-right 1s ease;
}

.hero-image-container,
.about-image-container{
    width: 18rem;
}

.home__blob-img {
    width: 100%;
    display: block;
    transition: scale 0.4s ease;
}

.home__blob-img:hover{
    scale: 1.1;
}

/* Responsive code for tab screens */
@media (max-width: 720px) {
    /* !!! Hero Section Design */
    /* Bouncing Dot */
    .hero-heading-container h1::after{
        left: 35.5%;
        top: 2.5%;
    }

    /* Hero Content Design */
    /* Hero Content Design */
    .hero-content{
        flex-direction: column;
    }

    .hero-content .left-content{
        width: 100%;
    }

    .hero-sub-heading-container{
        justify-content: center;
    }

    .hero-content .left-content p{
        text-align: center;
    }
}

@media (max-width: 540px) {
    /* Bouncing Dot */
    .hero-heading-container h1::after{
        left: 35.1%;
    }
}